html {
  background:#018DED url(http://unsplash.it/1500/1000?image=881&blur=50);
  background-size:cover;
  font-family:'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  font-size: 2rem;
  display:flex;
  flex:1;
  min-height: 100vh;
  align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border:20px solid white;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  box-shadow:
	0 0 0 4px rgba(0,0,0,0.1),
	inset 0 0 0 3px #EFEFEF,
	inset 0 0 10px black,
	0 0 10px rgba(0,0,0,0.2);
}

.clock-face {
  background: url('../images/clock_numbers.svg') no-repeat;
  background-size: 97%;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px); /* account for the height of the clock hands */
}

.clock-face:after {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5%;
  height: 5%;
  z-index: 10;
}

.hand {
  height:6px;
  background:black;
  position: absolute;
  top:50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}

.hand.second-hand {
  height: 4px;
  width: 50%;
}

.minute-hand {
  width: 45%;
  right: 50%;
}

.hour-hand {
  width: 30%;
  right: 50%;
}